built/
node_modules/
yotta_modules
yotta_build
*.d.ts
*.js
!tests/*.js
!coverage
.repo
.c9
*.swp
*~
*.user
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.jres
_site/
.ipynb_checkpoints/
